#all {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
}

html, root, body {
    overflow-x: hidden !important;
}

#head{
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 10;
}

