@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

html, body, root {
  margin: 0 !important;
  padding: 0 !important;
  background-color: black;
  overflow-x: hidden !important;
}


#root{
  background-color: black;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif !important;
}