@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

body, html, root {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif !important;
}


@media (max-width: 768px) {
  html,
  body,
  #root {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: auto;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar,
  #root::-webkit-scrollbar {
    display: none;
  }
}
